.red {
  color: red;
  background-color: black;
}

.green {
  color: green;
  background-color: blue;
}
/* class 지칭은 . id지칭은 # */
#abc {
  color: blue;
  background-color: yellow;
}

div {
  color: red;
  background-color: black;
}

td {
  border: 1px solid red;
  padding: 10px;
}
